# dependencies
node_modules

#production
/build

#misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Had to ignore because it was causing issues with Regex
APICalls.ts