:root {
	--body-bg-color: #252525;
	--text-color: #fffacd;
	--icon-color: #6bb9f0;

	/* 70 px is the footer's height */
	--containers-height: calc(100vh - 70px);
	--container-bg-color: rgba(0, 0, 0, 0.3);
	--container-border: 3px solid #80ffdb;
	--container-types-color: burlywood;
	--container-values-color: #00ced1;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-color: var(--body-bg-color);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: var(--text-color);
	font-size: 16px;
}

.App {
	min-height: var(--containers-height);
	display: grid;
	grid-template-columns: 10% auto 10%;
	grid-template-rows: 10% auto 5%;
}

.loader_container {
	min-height: var(--containers-height);
	display: flex;
	align-items: center;
}

.loader {
	margin: 100px auto;
	font-size: 25px;
	width: 1em;
	height: 1em;
	border-radius: 50%;
	position: relative;
	text-indent: -9999em;
	-webkit-animation: load5 1.1s infinite ease;
	animation: load5 1.1s infinite ease;
	-webkit-transform: translateZ(0);
	-ms-transform: translateZ(0);
	transform: translateZ(0);
}
@-webkit-keyframes load5 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ffffff,
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
			1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}
@keyframes load5 {
	0%,
	100% {
		box-shadow: 0em -2.6em 0em 0em #ffffff,
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
	}
	12.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7),
			1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
	}
	25% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff,
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	37.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff,
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	50% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.5),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff,
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	62.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff,
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	75% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.5),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff,
			-1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
	}
	87.5% {
		box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2),
			1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2),
			2.5em 0em 0 0em rgba(255, 255, 255, 0.2),
			1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2),
			0em 2.5em 0 0em rgba(255, 255, 255, 0.2),
			-1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5),
			-2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
	}
}

@media only screen and (max-width: 880px) {
	html {
		font-size: 12px;
	}

	.App {
		grid-template-columns: 1% auto 1%;
		grid-template-rows: 1% auto 1%;
	}
}

@media only screen and (max-width: 400px) {
	html {
		font-size: 10px;
	}
}
