.dataContainer {
	grid-column: 2/3;
	grid-row: 2/3;

	min-width: 70%;
	min-height: 50%;

	background-color: var(--container-bg-color);
	border: var(--container-border);
	border-radius: 45px;
	padding: 10px;

	display: grid;
	grid-template-rows: auto auto auto;
	row-gap: 5%;
}

.dataContainer h1,
.dataContainer h3 {
	font-size: 2rem;
}

.dataContainer h2 {
	font-size: 1rem;
}

.dataContainer ul {
	list-style: none;
}

.mainContent {
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.temperatures {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	column-gap: 30px;
	row-gap: 5px;
}

.temperatures h1 {
	grid-column: 1/3;
	justify-self: center;
}

.temperatures h2 {
	opacity: 0.7;
}

.temperatures h2:nth-child(2) {
	color: #89c4f4;
}

.temperatures h2:nth-child(3) {
	color: #ffa07a;
}

@media only screen and (max-width: 560px) {
	.mainContent {
		padding: 5%;
		justify-content: space-between;
	}

	.dataContainer {
		padding: 0;
	}
}
