.dataContainer {
	grid-column: 2/3;
	grid-row: 2/3;

	min-width: 70%;
	min-height: 50%;

	background-color: var(--container-bg-color);
	border: var(--container-border);
	border-radius: 45px;
	padding: 15px;

	display: grid;
	grid-template-rows: auto 5% auto 5% auto;
}

.mainContent {
	grid-row: 1/2;
	display: flex;
	justify-content: space-evenly;
}

.dataContainer h3 {
	font-size: 3rem;
}

.dataContainer ul {
	list-style: none;
}
