.dataContainer {
	grid-column: 2/3;
	grid-row: 2/3;

	min-width: 70%;
	min-height: 50%;

	background-color: var(--container-bg-color);
	border: var(--container-border);
	border-radius: 45px;
	padding: 10px;

	display: grid;
	grid-template-rows: auto auto auto;
	row-gap: 5%;
}

.dataContainer h3 {
	font-size: 2.75rem;
}

.dataContainer ul {
	list-style: none;
}

.mainContent {
	grid-row: 1/2;
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 560px) {
	.mainContent {
		padding: 5%;
		justify-content: space-between;
	}

	.dataContainer {
		padding: 0;
	}
}
