.container {
	max-width: 15%;
	min-height: 160px;
	font-size: 1.25rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 1px solid black;
	border-radius: 45px;
	box-shadow: 10px 5px 5px black;
}
