.container {
	max-width: 15%;
	padding: 5px;
	font-size: 1.25rem;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 5px black;
}
