.container {
	width: 100%;

	padding: 10px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

@media only screen and (max-width: 1070px) {
	.container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: auto;
		row-gap: 1em;
		justify-items: center;
	}
}

@media only screen and (max-width: 640px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media only screen and (max-width: 425px) {
	.container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 0;
	}
}
