.card {
	min-width: 10%;
	max-width: 15%;
	padding: 5px;
	font-size: 1.25rem;
	line-height: 1.5;

	display: flex;
	flex-direction: column;
	align-items: center;

	border: 1px solid black;
	border-radius: 25px;
	box-shadow: 2px 2px 5px black;
}
