ul {
	grid-row: 2/3;
	font-size: 1.5rem;
	margin: 0 10%;

	display: flex;
	justify-content: space-between;
}

.forecastType {
	color: var(--container-types-color);
}

.forecastValue {
	text-align: end;

	color: var(--container-values-color);
}
