.itemsContainer {
	grid-row: 2/3;
	font-size: 1.5rem;
	line-height: 1.6;

	padding: 1em 3.5em;
	margin: 0 1em;

	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	column-gap: 20%;

	border-bottom: 2px solid darkslategray;
	border-top: 2px solid darkslategrey;
}

.itemsContainer li {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.itemsContainer li p:first-child {
	color: var(--container-types-color);
}

.itemsContainer li p:last-child {
	color: var(--container-values-color);
}

@media only screen and (max-width: 560px) {
	ul {
		margin: 5%;
	}
}
