/* 
This component's CSS was made by Erik Terwan.
Codepen: https://codepen.io/erikterwan
*/

.menuToggle {
	display: block;
	position: relative;
	top: 50px;
	left: 50px;
	z-index: 1;
	user-select: none;
	color: var(--text-color);
}

.hamburger {
	display: block;
	width: 40px;
	height: 32px;
	position: absolute;
	top: -7px;
	left: -5px;

	cursor: pointer;

	opacity: 0;
	z-index: 2;
}

.hamburgerLevel {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
	position: relative;

	background: var(--text-color);
	border-radius: 3px;

	z-index: 1;

	transform-origin: 4px 0px;

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
		background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

.menuToggle .hamburgerLevel:first-child {
	transform-origin: 0% 0%;
}

.menuToggle .hamburgerLevel:nth-last-child(2) {
	transform-origin: 0% 100%;
}

.hamburger:checked ~ .hamburgerLevel {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
}

.hamburger:checked ~ .hamburgerLevel:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

.hamburger:checked ~ .hamburgerLevel:nth-last-child(2) {
	transform: rotate(-45deg) translate(0, -1px);
}

.menu {
	position: absolute;
	min-width: 250px;
	min-height: 400px;
	margin: -100px 0 0 -50px;
	padding: 50px;
	padding-top: 125px;

	background-color: #220b27;
	list-style-type: none;
	-webkit-font-smoothing: antialiased;
	/* to stop flickering of text in safari */

	border-right: 2px solid #80ffdb;
	border-bottom: 2px solid #80ffdb;
	border-bottom-right-radius: 25px;

	transform-origin: 0% 0%;
	transform: translate(-100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

.menu button {
	padding: 10px 0;
	font-size: 1.5rem;
}

.hamburger:checked ~ section {
	transform: none;
}

.buttons {
	display: grid;
	grid-template-columns: 40% 5% 5% 40%;
}

.unitsBtn {
	outline: none;
	border: none;
	cursor: pointer;

	height: 40px;
	width: 70px;

	color: white;
	background-color: #3e2b4f;

	transition: background-color 0.4s;
}

.farenheit {
	grid-column-start: 1;
	grid-column-end: 3;

	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	box-shadow: 2px 5px 10px black;
}

.celsius {
	grid-column-start: 3;
	grid-column-end: 4;

	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;

	box-shadow: 2px 5px 10px black;
}

.selected {
	background-color: goldenrod;
}
