.mainContent {
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.mainContent h1,
.mainContent h3 {
	font-size: 2rem;
}

.mainContent h2 {
	font-size: 1rem;
}

.mainContent hgroup,
.mainContent h3 {
	padding: 15px;
	border-radius: 25px;
	transition: all 0.5s ease-out;
}

.mainContent hgroup:hover,
.mainContent h3:hover {
	transform: scale(1.1);
	background-color: #43154d;
	box-shadow: -5px 5px 5px black;
}
