.mainContent {
	grid-row: 1/2;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.mainContent h1 {
	font-size: 2rem;
}

.mainContent h2 {
	font-size: 1rem;
}

.mainContent h3 {
	font-size: 1.5rem;
}
