.searchBar {
	position: relative;
	width: 70%;
}

.searchBar input {
	width: 100%;
	padding: 10px;

	color: black;
	font-size: 1.25rem;

	border: none;
	border-radius: 25px;
	outline-offset: 0.25em;
	transition: all 0.5s ease-out;
}

.searchBar input:hover,
.searchBar input:focus {
	caret-color: white;
	color: var(--text-color);
	background-color: #43154d;
	box-shadow: -5px 5px 5px black;
}

.searchBar input:hover ~ img,
.searchBar input:focus ~ img {
	filter: invert(100%);
}

.searchForm {
	min-height: 60%;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	outline: none;
}

input[type="search"]::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type="search"]::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	display: none;
}

.searchBar img {
	position: absolute;
	left: 9.25em;
	top: 0.6em;

	max-width: 25px;
	height: auto;
	transition: all 0.75s;

	cursor: pointer;
}
